body {
    background-color: rgb(199, 199, 199);
    font-family:Helvetica, sans-serif;
    padding: 2em;
}

a {
    text-decoration: none;
    color: rgb(0, 238, 238);
}

li {
    list-style: none;
    display: inline;
}
